
body {
    background-color: darksalmon;
    color: darkred;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

a {
    color: goldenrod;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

section{
    margin-top:72px;
}

header {
    position: fixed;
    background-color: darkslategray;
    color: silver;
    top: 0;
    width: 100%;
    height: 72px;
    text-align: center;
    padding: 0;
    margin: 0;
}

header ul {
    margin: 0;
}

header ul li {
    list-style: none;
    display: inline-flex;

}

header ul li a {
    padding: 1em;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
header .title{
    margin: 0.5em;
    font-size: 1.1em;
}
header .subtitle{
    margin: 0 0 0 0.5em;
    font-size: 0.9em;
}
aside {
    margin-top: 72px;
    background-color: slategray;
    position: absolute;
    right: 0;
}

footer {
    position: fixed;
    width: 100%;
    height: 72px;
    bottom: 0;
    background-color: black;
    color: silver;
}

article {
    font-family: "Courier New", courier, monospace;
    background-color: darkgreen;
    color: lightgreen;
}

.left {
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.columnSide {
    height: 72px;
    width: 20%;
    display: inline-block;
    padding: 0;
    border: 1px solid white;
}

.selected {
    background-color: black;
    color:white;
}